<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/pages/produits.css">
  <title>Boutique en Ligne</title>
  <style>
    
  </style>
</head>
<body>
  <div class="flex-div">
    <div class="conteneur-grid">
      <!-- Barre de recherche -->
      <div class="search-bar">
        <div id="input-search-bar-div">
          <input type="search" name="search-bar" placeholder="Rechercher un produit...">
        </div>
      </div>

      <!-- produits -->
      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/bananes.jpg" alt="Bananes"/>
        </a>
        <p class="product-name">Bananes 200 g</p>
        <p class="product-origin"><b>Provenance:</b> Mungo</p>
        <p class="product-price">2999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/papayes.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">Papayes 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/orange.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">oranges 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>


      <div class="card-product">
        <a href="">
          <img src="../assets/img/orange.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">oranges 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

      <div class="card-product">
        <a href="">
          <img src="../assets/img/orange.jpg" alt="Papayes"/>
        </a>
        <p class="product-name">oranges 400 g</p>
        <p class="product-origin"><b>Provenance:</b> Ebolowa</p>
        <p class="product-price">3999 xaf</p>
        <button>Ajouter au panier</button>
      </div>

  <div class="icon-menu">
    <img src="../assets/img/hamburger.png" alt="Menu"/>

    <div class="menu-filter-div">

    </div>
    
  </div>

  <div class="icon-filtre">
    <img src="../assets/img/filtre.png" alt="Filtre"/>
  </div>
</body>
</html>